@import "tailwindcss";

@theme {
  --color-background: #09090b;
  --color-foreground: #fafafa;
  --color-card: #18181b;
  --color-border: #27272a;
  /* Paleta original Shadcn/Finance */
  --color-primary: #ffffff;
  --color-primary-foreground: #09090b;
  --color-accent: #3b82f6;
  --color-positive: #10b981;
  --color-destructive: #ef4444;
  --color-warning: #f59e0b;
  --color-muted: #27272a;
}
