@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #09090b;
    color: #fafafa;
    font-family: 'Plus Jakarta Sans', sans-serif;
    overflow: hidden; /* Trava o scroll global, apenas o miolo vai rolar */
  }
}

@layer utilities {
  .glass-card {
    @apply bg-zinc-900/40 backdrop-blur-xl border border-white/5;
  }
  .hide-scrollbar::-webkit-scrollbar { display: none; }
  .hide-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }
}
